#assignment operator
a = 3
print(a)

In [5]:
#assignment operator 
a=3
print (a)

3

In [6]:
In[6]
a+=2 
print (a)

5

In [9]:
print (a)
a-=1 
print (a)

5
4

In [10]:
a*=2
print (a)

8

In [11]:
#identity operator 
list1 =[1,2,3]
list2 =[1,2,3]

In [12]:
list1

[1, 2, 3]

In [13]:
list2

[1, 2, 3]

In [15]:
print (list1 is list2)

False

In [18]:
#membership operator 
fruits =["apple", 'graphs','orange']
print (fruits)

['apple', 'graphs', 'orange']

In [19]:
print ('orange' not in fruits)

False

In [22]:
#input and output(i/o)
student_name =input ("please enter your name:")
print(student_name)

hafeez

In [24]:
student_fees =int(input("pleaseenter your fee:"))
print(student_fees-1000)

1000

In [25]:
#output
a='welcome to kp-it board'
print (a)

welcome to kp-it board

In [26]:
#output
a='welcome to kp-it board'
print (a,'AI course')

welcome to kp-it board AI course

In [30]:
name ='ali' 
age =22
print ("hello,",name, "!you are",age, "years old.")

hello, ali !you are 22 years old.

In [31]:
print (f"hello, {name} ! you are {age} year old.")

hello, ali ! you are 22 year old.

In [ ]:
pri